<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：命名空间，用于隔离sql语句，后继有重要重要
	 #{}：点位符，相当于jdbc的?
	 ${}：字符串拼接指令，如果入参为普通数据类型{}内部只写value
-->
<!-- 动态代理开发规则：
	 1、namespace必需是接口的全路径名
	 2、接口的方法名必需与sql id 一致
	 3、接口的入参与parameterType类型一致
	 4、接口的返回值必须与resultType类型一致
-->
<mapper namespace="com.gxyan.mybatis.mapper.StudentMapper">
    <!-- sql片段的抽取，定义 -->
    <sql id="student_sql">
		no,
		name,
		sex,
		major_id
	</sql>

    <!-- resultMap定义 -->
    <resultMap id="studentMap" type="student">
        <!-- <id>用于映射主键 -->
        <id property="no" column="no"/>
        <!-- 普通字段用<result>映射 -->
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="majorId" column="major_id"/>
    </resultMap>

    <select id="selectStudents" resultMap="studentMap">
        select
        <!-- sql片段使用:refid引用定义好的sql片段id -->
        <include refid="student_sql"/>
        from student
    </select>

    <select id="selectByNo" resultMap="studentMap">
        select
        <include refid="student_sql"/>
        from student
        where no = #{no}
    </select>

    <select id="getByMajorId" resultMap="majorStudentMap">
        select
        major.major_id, major_name,
		no, name, sex
		from major
		left join student on major.major_id = student.major_id
		where major.major_id = #{majorId}
    </select>

    <resultMap id="majorStudentMap" type="major">
        <id property="majorId" column="major_id"/>
        <result property="majorName" column="major_name"/>
        <!-- collection用于配置一对多关联
             property:User当中Order的属性
             ofType:orders的数据类型，支持别名
        -->
        <collection property="students" ofType="student">
            <!-- <id>用于映射主键 -->
            <id property="no" column="no"/>
            <!-- 普通字段用<result>映射 -->
            <result property="name" column="name"/>
            <result property="sex" column="sex"/>
            <result property="majorId" column="major_id"/>
        </collection>
    </resultMap>
</mapper>